.vue-table > tbody > tr > td {
    vertical-align: middle;
}
.table-search-box {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vue-table {
    width: 85%;
    margin: 20px auto;
}

.CollapseHeader > button {
    border: none;
    font-size: 1rem;
    background-color: transparent;
    padding: unset;
    font-family: unset;
    color: unset;
}